// Fonts (OverPass + Ubuntu)
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

//Colors
$text-white: hsl(0, 0%, 100%);
$footer-text-gray:hsl(240, 2%, 79%);
$content-dark-gray:hsl(207, 13%, 34%);
$footer-bg-blue:hsl(240, 10%, 16%);
$body-bg-blue:hsl(237, 17%, 21%);
$body-bg-blue-desat:hsl(237, 23%, 32%);
$intro-light-red:hsl(353, 100%, 62%);
$intro-v-light-red:hsl(13, 100%, 72%);
$cta-text-light-red:hsl(356, 100%, 66%);
$cta-hover-bg-red:hsl(355, 100%, 74%);
$body-head-darkblue:hsl(208, 49%, 24%);

//Font Weights
$overpass-light-weight:300;
$overpass-bold-weight:600;
$ubuntu-light-weight:400;
$ubuntu-medium-weight:500;
$ubuntu-bold-weight:700;

//Breaking Points
$desktop-max:1440px;
$mobile-max:550px;
$mobile-min:375px;

//Font
$medium-font:16px;
$large-font:26px;
$xl-font:34px;
$main-font: 'Ubuntu', sans-serif;
$second-font: 'Overpass', sans-serif;

//Reset
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}

//Blogr

//Section1
.section1 {
    height:80vh;
    width:100%;
    background: $intro-light-red;
    border-bottom-left-radius: 80px;
    .overlay{
        position: absolute;
        background: url('./../images/bg-pattern-intro.svg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: 40% 50%;
        border-bottom-left-radius: 80px;
        height:80vh;
        width:100%;
        opacity: 0.4;
        z-index:1;
    }
    .navbar{
        display: flex;
        flex-direction: row;
        position: sticky;
        justify-content: space-around;
        font-family: $main-font;
        font-weight: $ubuntu-medium-weight;
        color:$text-white;
        padding:20px;
        z-index: 10;
        ul{
            list-style: none;
        }
        .logo{
            flex:0.6;
            height:55px;
            padding:10px;
            object-fit: contain;
            cursor: pointer;
        }
        a{
            text-decoration: none;
            color:$content-dark-gray;
        }
        .one{
            flex:2;
            display: flex;
            flex-direction: row;
            font-size: $medium-font;
            align-self: center;
            li{
                padding:0 10px;
                color:$text-white;
                &:hover{
                    text-decoration: underline;
                    text-decoration-thickness: 2px;
                }
            }
            .drop{
                &:hover > .dropdown-content{
                    display: flex;
                    flex-direction: column;
                    background: $text-white;
                    padding:10px 20px;
                    width: 130px;
                    text-align: left;
                    margin:10px;
                    position: absolute;
                    border-radius: 2px;
                    box-shadow: 2px 2px 6px #3b3b3b;
                    cursor: pointer;
                }
                .dropdown-content{
                    display: none;
                    a{
                        margin:3px 0px;
                    }
                }
            }
        }
        .two{
            flex:1;
            display: flex;
            flex-direction: row;
            align-self: center;
            justify-content: center;
            button{
                margin:0 10px;
                padding:12px 25px;
                font-size: $medium-font;
                font-family: $main-font;
                font-weight: $ubuntu-medium-weight;
                color:$text-white;
                cursor: pointer;
            }
            .login{
                border:none;
                border-radius: 30px;
                background: transparent;
                transition: 0.5s;
                &:hover{
                    background: rgba($text-white,0.4);
                    color:$text-white;
                    transition: 0.5s;
                }
            }
            .signup{
                border-radius: 30px;
                border:none;
                background: $text-white;
                color:$intro-light-red;
                transition: 0.5s;
                &:hover{
                    background: rgba($text-white,0.4);
                    color:$text-white;
                    transition: 0.5s;
                }
            }
        }
    }
    .hero{
        position: relative;
        font-family: $second-font;
        font-weight: $overpass-light-weight;
        color:$text-white;
        padding:20px;
        z-index: 10;
        top:15vh;
        text-align: center;
        h1{
            font-size: 55px;
        }
        p{
            padding:10px 0 30px 0;
        }
        .cta{
            padding:20px;
            button{
                font-size: $medium-font;
                font-family: $main-font;
                font-weight: $ubuntu-bold-weight;
                padding:12px 20px;
                margin:0 10px;
                cursor: pointer;
            }
            .cta1{
                border-radius: 30px;
                border:none;
                background: $text-white;
                color:$intro-light-red;
                transition: 0.5s;
                &:hover{
                    background: rgba($text-white,0.4);
                    color:$text-white;
                    transition: 0.5s;
                }
            }
            .cta2{
                border:1px solid $intro-v-light-red;
                border-radius: 30px;
                background: transparent;
                transition: 0.5s;
                color:$text-white;
                &:hover{
                    background: $text-white;
                    color:$intro-light-red;
                    transition: 0.5s;
                }
            }
        }
    }
}

//Section2
.section2{
    height:140vh;
    width:100%;
    overflow: hidden;
    padding:20vh 0;
    font-family: $second-font;
    font-weight: $overpass-bold-weight;
    .heading{
        color:$body-head-darkblue;
    }
    .head{
        text-align: center;
        font-size: $xl-font;
    }
    .content{
        height:80vh;
        position: relative;
    }
    .text{
        display: flex;
        flex-direction: column;
        padding:6% 100px;
        padding-right: 50%;
       .mini-head{
        font-size: $large-font;
       }
       p{
        font-size: $medium-font;
       }
       .first,.second{
           padding:20px 0;
           p{
               padding:10px 0;
               padding-right: 30px;
               color:$content-dark-gray;
               line-height: 24px;
           }
       }
    }
    .image{
        position: absolute;
        top:-15vh;
        right:0%;
        z-index: -1;
        img{
            height:110vh;
            object-fit: contain;
            padding-left: 30%;
        }    
    }
}

//Section3
.section3{
    height:60vh;
    border-top-right-radius: 80px;
    width:100%;
    background: $body-bg-blue-desat;
    display: flex;
    .image{
        flex:1;
        position: relative;
        background: url(./../images/bg-pattern-circles.svg);
        background-size:cover;
        background-repeat: no-repeat;
        // background-attachment: fixed;
        img{
            position: absolute;
            top:-10%;
            left:15%;
            height: 80vh;
            object-fit: contain;
        }
    }
    .content{
        flex:1;
        align-self: center;
        font-family: $second-font;
        font-weight: $overpass-bold-weight;
        padding:0 80px;
        padding-right: 160px;
        h1{
            font-size: $xl-font;
            color:$text-white;
            padding: 15px 0;
        }
        p{
            color:$footer-text-gray;
            line-height: 24px;
        }
    }
}

//Section4
.section4{
    height:140vh;
    width:100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}