// Fonts (OverPass + Ubuntu)
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

//Colors
$text-white: hsl(0, 0%, 100%);
$footer-text-gray:hsl(240, 2%, 79%);
$content-dark-gray:hsl(207, 13%, 34%);
$footer-bg-blue:hsl(240, 10%, 16%);
$body-bg-blue:hsl(237, 17%, 21%);
$body-bg-blue-desat:hsl(237, 23%, 32%);
$intro-light-red:hsl(353, 100%, 62%);
$intro-v-light-red:hsl(13, 100%, 72%);
$cta-text-light-red:hsl(356, 100%, 66%);
$cta-hover-bg-red:hsl(355, 100%, 74%);
$body-head-darkblue:hsl(208, 49%, 24%);

//Font Weights
$overpass-light-weight:300;
$overpass-bold-weight:600;
$ubuntu-light-weight:400;
$ubuntu-medium-weight:500;
$ubuntu-bold-weight:700;

//Breaking Points
$desktop-med:1250px;
$desktop-min:1000px;
$tablet:750px;
$mobile-max:600px;
$mobile-mid:400px;

//Font
$medium-font:16px;
$large-font:26px;
$xl-font:34px;
$main-font: 'Ubuntu', sans-serif;
$second-font: 'Overpass', sans-serif;

//Reset
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
.full{
    position: relative;
    overflow-x: hidden;
}
//Blogr

//Section1
.section1 {
    height:80vh;
    width:100%;
    background: $intro-light-red;
    border-bottom-left-radius: 80px;
    .overlay{
        position: absolute;
        background: url('./../images/bg-pattern-intro.svg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: 40% 50%;
        border-bottom-left-radius: 80px;
        height:80vh;
        width:100%;
        opacity: 0.4;
        z-index:1;
    }
    .navbar{
        display: flex;
        flex-direction: row;
        position: sticky;
        justify-content: space-around;
        font-family: $main-font;
        font-weight: $ubuntu-medium-weight;
        color:$text-white;
        padding:20px;
        z-index: 10;
        .burger{
            display: none;
        }
        ul{
            list-style: none;
        }
        .logo{
            flex:0.6;
            height:55px;
            padding:10px;
            object-fit: contain;
            cursor: pointer;
        }
        a{
            text-decoration: none;
            color:$content-dark-gray;
        }
        .navlinks{
            display: flex;
            justify-content: space-between;
            flex:3;
        }
        .one{
            flex:1;
            display: flex;
            flex-direction: row;
            font-size: $medium-font;
            align-self: center;
            li{
                padding:0 10px;
                color:$text-white;
                &:hover{
                    text-decoration: underline;
                    text-decoration-thickness: 2px;
                }
            }
            .drop{
                &:hover > .dropdown-content{
                    display: flex;
                    flex-direction: column;
                    background: $text-white;
                    padding:10px 20px;
                    min-width: 130px;
                    text-align: left;
                    margin:10px;
                    position: absolute;
                    border-radius: 2px;
                    box-shadow: 2px 2px 6px #3b3b3b;
                    cursor: pointer;
                }
                .dropdown-content{
                    display: none;
                    a{
                        margin:3px 0px;
                    }
                }
            }
        }
        .two{
            flex:1;
            display: flex;
            flex-direction: row;
            align-self: center;
            justify-content: center;
            button{
                margin:0 10px;
                padding:12px 25px;
                font-size: $medium-font;
                font-family: $main-font;
                font-weight: $ubuntu-medium-weight;
                color:$text-white;
                cursor: pointer;
            }
            .login{
                border:none;
                border-radius: 30px;
                background: transparent;
                transition: 0.5s;
                &:hover{
                    background: rgba($text-white,0.4);
                    color:$text-white;
                    transition: 0.5s;
                }
            }
            .signup{
                border-radius: 30px;
                border:none;
                background: $text-white;
                color:$intro-light-red;
                transition: 0.5s;
                &:hover{
                    background: rgba($text-white,0.4);
                    color:$text-white;
                    transition: 0.5s;
                }
            }
        }
    }
    .hero{
        position: relative;
        font-family: $second-font;
        font-weight: $overpass-light-weight;
        color:$text-white;
        padding:20px;
        z-index: 10;
        top:15vh;
        text-align: center;
        h1{
            font-size: 55px;
        }
        p{
            padding:10px 0 30px 0;
        }
        .cta{
            padding:20px;
            button{
                font-size: $medium-font;
                font-family: $main-font;
                font-weight: $ubuntu-bold-weight;
                padding:12px 20px;
                margin:0 10px;
                cursor: pointer;
            }
            .cta1{
                border-radius: 30px;
                border:none;
                background: $text-white;
                color:$intro-light-red;
                transition: 0.5s;
                &:hover{
                    background: rgba($text-white,0.4);
                    color:$text-white;
                    transition: 0.5s;
                }
            }
            .cta2{
                border:1px solid $intro-v-light-red;
                border-radius: 30px;
                background: transparent;
                transition: 0.5s;
                color:$text-white;
                &:hover{
                    background: $text-white;
                    color:$intro-light-red;
                    transition: 0.5s;
                }
            }
        }
    }
}

//Section2
.section2{
    height:140vh;
    width:100%;
    overflow: hidden;
    padding:20vh 0;
    font-family: $second-font;
    font-weight: $overpass-bold-weight;
    .heading{
        color:$body-head-darkblue;
    }
    .head{
        text-align: center;
        font-size: $xl-font;
    }
    .content{
        height:80vh;
        position: relative;
    }
    .text{
        display: flex;
        flex-direction: column;
        padding:6% 100px;
        padding-right: 50%;
        align-items: center;
        text-align: left;
       .mini-head{
        font-size: $large-font;
       }
       p{
        font-size: $medium-font;
        font-weight: $overpass-bold-weight;
       }
       .first,.second{
           padding:20px 0;
           p{
               padding:10px 0;
               padding-right: 30px;
               color:$content-dark-gray;
               line-height: 24px;
           }
       }
    }
    .image{
        position: absolute;
        top:-15vh;
        right:0%;
        z-index: -1;
        img{
            height:110vh;
            object-fit: contain;
            padding-left: 30%;
        }    
    }
    .mobile-sec2-img{
        display: none;
    }
}

//Section3
.section3{
    height:60vh;
    border-top-right-radius: 80px;
    border-bottom-left-radius: 80px;
    width:100%;
    background: $body-bg-blue-desat;
    display: flex;
    .image{
        flex:1;
        position: relative;
        background: url(./../images/bg-pattern-circles.svg);
        background-size:cover;
        background-repeat: no-repeat;
        img{
            position: absolute;
            top:-10%;
            left:15%;
            height: 80vh;
            object-fit: contain;
        }
    }
    .content{
        flex:1;
        align-self: center;
        font-family: $second-font;
        font-weight: $overpass-bold-weight;
        padding:0 100px;
        padding-right: 120px;
        h1{
            font-size: $xl-font;
            color:$text-white;
            padding: 15px 0;
        }
        p{
            color:$footer-text-gray;
            line-height: 24px;
        }
    }
}

//Section4
.section4{
    height:140vh;
    width:100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    font-family: $second-font;
    font-weight: $overpass-bold-weight;
    .mobile-sec4-img{
        display: none;
    }
    .content{
        display: flex;
        flex-direction: column;
        padding:10% 100px;
        padding-left: 50%;
        align-items: center;
        justify-content: center;
       .mini-head{
        font-size: $large-font;
        color:$body-head-darkblue;
       }
       p{
        font-size: $medium-font;
       }
       .first,.second{
           padding:20px 0;
           p{
               padding:10px 0;
               padding-right: 30px;
               color:$content-dark-gray;
               line-height: 24px;
           }
       }
    }
    .image{
        position: relative;
        top:20vh;
        left:-18%;
        z-index: -1;
        img{
            position: absolute;
            height:100vh;
            object-fit: contain;
            padding-left: 30%;
        }    
    }
}

//Section5
.section5{
    height:60vh;
    width:100%;
    background: $footer-bg-blue;
    display: flex;
    flex-direction: row;
    padding:6% 8%;
    font-family: $second-font;
    font-weight: $overpass-bold-weight;
    border-top-right-radius: 80px;
    .image{
        flex:1;
        img{
            height:55px;
            padding:10px;
            object-fit: contain;
            cursor: pointer;
        }
    }
    .links{
        flex:4;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .links1,.links2,.links3{
        h3{
            padding:20px 0;
            color:$text-white;
        }
        ul li{
            list-style: none;
            padding:5px 0;
            color:$footer-text-gray;
            &:hover{
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }
}

//Media Queries
@media only screen and (max-width: $desktop-med) {
    .section2{
        height:120vh;
        .image{
            top:-10vh;
            img{
                height:90vh;
            }    
        }
    }
    .section3{
        .content{
        padding:0 80px;
        padding-right: 30px;
        }
        .image{
            img{
                top:-5%;
                left:8%;
                height: 70vh;
                object-fit: contain;
            }
        }
    }
    .section4{
        height:120vh;
        .image{
            top:15vh;
            img{
                height:80vh;
            }    
        }
        .content{
            padding:10% 70px;
            padding-left: 50%;
        }
    }
    .section5{
        height:50vh;
    }
  }
@media only screen and (max-width: $desktop-min){
    .section1{
        .hero{
            h1{
                font-size: 45px;
            }
        }
    }
    .section2{
        .image{
            top:0vh;
            img{
                height:75vh;
            }    
        }
        .text{
            padding:6% 50px;
            padding-right: 50%;
           .mini-head{
            font-size: 22px;
           }
           .first,.second{
               p{
                   line-height: 22px;
               }
           }
        }
    }
    .section3{
        height:50vh;
        .image{
            img{
                top:4%;
                left:5%;
                height: 50vh;
            }
        }
    }
    .section4{
        .image{
            top:25vh;
            img{
                height:65vh;
            }    
        }
        .content{
            padding:10% 0px;
            padding-left: 50%;
            .mini-head{
                font-size: 22px;
               }
        }
    }
  }
  @media only screen and (max-width: $tablet){
    .section2{
        height:150vh;
        padding:12vh 0;
        .content{
            height:80vh;
            position: relative;
        }
        .text{
            padding:6% 80px;
            text-align: center;
            .mini-head{
                font-size: $large-font;
               }
        }
        .image{
            display: none;
        }
        .mobile-sec2-img{
            display: block;
            margin:50px auto 0 auto;
        }
    }
    .section3{
        height:80vh;
        flex-direction: column;
        .image{
            margin:0 auto;
            img{
                position: unset;
                margin: -15vh auto 0 auto;
                height: 55vh;
            }
        }
        .content{
            padding:10px 80px;
            text-align: center;
        }
    }
    .section4{
        height:140vh;
        flex-direction: column;
        .image{
            display: none;   
        }
        .content{
            padding:10% 80px;
            justify-content: flex-start;
           .mini-head{
            font-size: $large-font;
           }
           .first,.second{
               text-align: center;
               padding:20px 0;
               p{
                   padding:10px 20px;
               }
           }
        }
        .mobile-sec4-img{
            display: block;
            margin-top:50px;
            height:50vh;
            object-fit: contain;
            position: relative;
            left:50%;
            transform: translate(-50%);
        }
    }
  }
  @media only screen and (max-width: $mobile-max){
      .section1{
        .navbar{
            z-index: 10000;
            justify-content: space-between;
            .logo{
                flex:0.2;
            }
            .burger{
                display: block;
                align-self: center;
            }
            .active{
                left:0% !important;
            }
            .navlinks{
                background: white;
                border-radius: 10px;
                position: absolute;
                max-height: 85vh;
                width:90%;
                top:15vh;
                left:120%;
                right:0;
                text-align: center;
                flex-direction: column;
                margin:0 auto;
                box-shadow: 3px 8px 15px #1f1f1f;
                transition: 0.8s ease;
                .one{
                    flex:0.8;
                    width:100%;
                    flex-direction: column;
                    font-size: 22px;
                    font-weight: $ubuntu-medium-weight;
                    align-self: center;
                    justify-content: center;
                    margin-top:30px;
                    li{
                        padding:15px 10px;
                        color:$content-dark-gray;
                    }
                    .drop{
                        &:hover > .dropdown-content{
                            display: flex;
                            flex-direction: column;
                            background: $text-white;
                            text-align: center;
                            position: relative;
                            top:0;
                            left:0;
                            right:0;
                            margin:5px 10%;
                            box-shadow: none;
                            background: rgb(253, 236, 236);
                            a{
                                &:hover{
                                    text-decoration: underline;
                                    text-decoration-thickness: 2px;
                                }
                            }
                        }
                        .dropdown-content{
                            a{
                                margin:15px 0px;
                            }
                        }
                    }
                }
                .two{
                    flex-direction: column;
                    align-self: center;
                    justify-content: center;
                    button{
                        margin:10px 10px;
                        font-size: 22px;
                    }
                    .login{
                        color:$content-dark-gray;
                        &:hover{
                            background:$intro-light-red;
                            color:$text-white;
                            transition: 0.5s;
                        }
                    }
                    .signup{
                        background:$intro-light-red;
                        color:$text-white;
                        margin-bottom:30px;
                        &:hover{
                            background:$text-white;
                            color:$intro-light-red;
                            transition: 0.5s;
                        }
                    }
                }
            }
        }
        .hero{
            top:12vh;
            h1{
                font-size: 40px;
            }
        }
      }
      .section2{
          height:160vh;
          .text{
            padding:6% 40px;
            p{
                font-size: $medium-font;
                font-weight: $overpass-light-weight;
            }
        }
      }
      .section3{
        height:90vh;
        .image{
            img{
                height: 45vh;
                margin: -10vh auto 0 auto;
            }
        }
        .content{
            p{
                font-weight: $overpass-light-weight;
                line-height: 24px;
            }
        }
      }
      .section4{
        .content{
            padding:8% 40px;
           .first,.second{
               p{
                   font-weight: $overpass-light-weight;
               }
           }
        }
      }
      .section5{
        height:auto;
        flex-direction: column;
        padding:6% 8%;
        align-items: center;
        text-align: center;
        .links{
            flex-direction: column;
        }
      }
  }

  @media only screen and (max-width: $mobile-mid){
      .section1{
        .hero{
            h1{
                font-size: 35px;
            }
            .cta{
                button{
                    font-size: 14px;
                    padding:12px 10px;
                    margin-top:20px;
                }
            }
        }
      }
      .section2{
        height:180vh;
        .heading{
            padding:0 20px;
        }
        .mobile-sec2-img{
            position: relative;
            left:50%;
            transform: translate(-50%);
        }
      }
      .section3{
        .content{
            padding:10px 20px;
        }
      }
      .section4{
          .content{
            padding:0% 10px;
          }
      }
  }