@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, html {
  overflow-x: hidden;
}

.full {
  position: relative;
  overflow-x: hidden;
}

.section1 {
  height: 80vh;
  width: 100%;
  background: #ff3d54;
  border-bottom-left-radius: 80px;
}

.section1 .overlay {
  position: absolute;
  background: url("./../images/bg-pattern-intro.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 40% 50%;
  border-bottom-left-radius: 80px;
  height: 80vh;
  width: 100%;
  opacity: 0.4;
  z-index: 1;
}

.section1 .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: -webkit-sticky;
  position: sticky;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  color: white;
  padding: 20px;
  z-index: 10;
}

.section1 .navbar .burger {
  display: none;
}

.section1 .navbar ul {
  list-style: none;
}

.section1 .navbar .logo {
  -webkit-box-flex: 0.6;
      -ms-flex: 0.6;
          flex: 0.6;
  height: 55px;
  padding: 10px;
  -o-object-fit: contain;
     object-fit: contain;
  cursor: pointer;
}

.section1 .navbar a {
  text-decoration: none;
  color: #4b5862;
}

.section1 .navbar .navlinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

.section1 .navbar .one {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 16px;
  -ms-flex-item-align: center;
      align-self: center;
}

.section1 .navbar .one li {
  padding: 0 10px;
  color: white;
}

.section1 .navbar .one li:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.section1 .navbar .one .drop:hover > .dropdown-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: white;
  padding: 10px 20px;
  min-width: 130px;
  text-align: left;
  margin: 10px;
  position: absolute;
  border-radius: 2px;
  -webkit-box-shadow: 2px 2px 6px #3b3b3b;
          box-shadow: 2px 2px 6px #3b3b3b;
  cursor: pointer;
}

.section1 .navbar .one .drop .dropdown-content {
  display: none;
}

.section1 .navbar .one .drop .dropdown-content a {
  margin: 3px 0px;
}

.section1 .navbar .two {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section1 .navbar .two button {
  margin: 0 10px;
  padding: 12px 25px;
  font-size: 16px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  color: white;
  cursor: pointer;
}

.section1 .navbar .two .login {
  border: none;
  border-radius: 30px;
  background: transparent;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.section1 .navbar .two .login:hover {
  background: rgba(255, 255, 255, 0.4);
  color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.section1 .navbar .two .signup {
  border-radius: 30px;
  border: none;
  background: white;
  color: #ff3d54;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.section1 .navbar .two .signup:hover {
  background: rgba(255, 255, 255, 0.4);
  color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.section1 .hero {
  position: relative;
  font-family: "Overpass", sans-serif;
  font-weight: 300;
  color: white;
  padding: 20px;
  z-index: 10;
  top: 15vh;
  text-align: center;
}

.section1 .hero h1 {
  font-size: 55px;
}

.section1 .hero p {
  padding: 10px 0 30px 0;
}

.section1 .hero .cta {
  padding: 20px;
}

.section1 .hero .cta button {
  font-size: 16px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  padding: 12px 20px;
  margin: 0 10px;
  cursor: pointer;
}

.section1 .hero .cta .cta1 {
  border-radius: 30px;
  border: none;
  background: white;
  color: #ff3d54;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.section1 .hero .cta .cta1:hover {
  background: rgba(255, 255, 255, 0.4);
  color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.section1 .hero .cta .cta2 {
  border: 1px solid #ff8f70;
  border-radius: 30px;
  background: transparent;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: white;
}

.section1 .hero .cta .cta2:hover {
  background: white;
  color: #ff3d54;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.section2 {
  height: 140vh;
  width: 100%;
  overflow: hidden;
  padding: 20vh 0;
  font-family: "Overpass", sans-serif;
  font-weight: 600;
}

.section2 .heading {
  color: #1f3f5b;
}

.section2 .head {
  text-align: center;
  font-size: 34px;
}

.section2 .content {
  height: 80vh;
  position: relative;
}

.section2 .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 6% 100px;
  padding-right: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
}

.section2 .text .mini-head {
  font-size: 26px;
}

.section2 .text p {
  font-size: 16px;
  font-weight: 600;
}

.section2 .text .first, .section2 .text .second {
  padding: 20px 0;
}

.section2 .text .first p, .section2 .text .second p {
  padding: 10px 0;
  padding-right: 30px;
  color: #4b5862;
  line-height: 24px;
}

.section2 .image {
  position: absolute;
  top: -15vh;
  right: 0%;
  z-index: -1;
}

.section2 .image img {
  height: 110vh;
  -o-object-fit: contain;
     object-fit: contain;
  padding-left: 30%;
}

.section2 .mobile-sec2-img {
  display: none;
}

.section3 {
  height: 60vh;
  border-top-right-radius: 80px;
  border-bottom-left-radius: 80px;
  width: 100%;
  background: #3f4164;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section3 .image {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  background: url(./../images/bg-pattern-circles.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.section3 .image img {
  position: absolute;
  top: -10%;
  left: 15%;
  height: 80vh;
  -o-object-fit: contain;
     object-fit: contain;
}

.section3 .content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-family: "Overpass", sans-serif;
  font-weight: 600;
  padding: 0 100px;
  padding-right: 120px;
}

.section3 .content h1 {
  font-size: 34px;
  color: white;
  padding: 15px 0;
}

.section3 .content p {
  color: #c8c8cb;
  line-height: 24px;
}

.section4 {
  height: 140vh;
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-family: "Overpass", sans-serif;
  font-weight: 600;
}

.section4 .mobile-sec4-img {
  display: none;
}

.section4 .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10% 100px;
  padding-left: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section4 .content .mini-head {
  font-size: 26px;
  color: #1f3f5b;
}

.section4 .content p {
  font-size: 16px;
}

.section4 .content .first, .section4 .content .second {
  padding: 20px 0;
}

.section4 .content .first p, .section4 .content .second p {
  padding: 10px 0;
  padding-right: 30px;
  color: #4b5862;
  line-height: 24px;
}

.section4 .image {
  position: relative;
  top: 20vh;
  left: -18%;
  z-index: -1;
}

.section4 .image img {
  position: absolute;
  height: 100vh;
  -o-object-fit: contain;
     object-fit: contain;
  padding-left: 30%;
}

.section5 {
  height: 60vh;
  width: 100%;
  background: #25252d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 6% 8%;
  font-family: "Overpass", sans-serif;
  font-weight: 600;
  border-top-right-radius: 80px;
}

.section5 .image {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.section5 .image img {
  height: 55px;
  padding: 10px;
  -o-object-fit: contain;
     object-fit: contain;
  cursor: pointer;
}

.section5 .links {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.section5 .links1 h3, .section5 .links2 h3, .section5 .links3 h3 {
  padding: 20px 0;
  color: white;
}

.section5 .links1 ul li, .section5 .links2 ul li, .section5 .links3 ul li {
  list-style: none;
  padding: 5px 0;
  color: #c8c8cb;
}

.section5 .links1 ul li:hover, .section5 .links2 ul li:hover, .section5 .links3 ul li:hover {
  text-decoration: underline;
  cursor: pointer;
}

@media only screen and (max-width: 1250px) {
  .section2 {
    height: 120vh;
  }
  .section2 .image {
    top: -10vh;
  }
  .section2 .image img {
    height: 90vh;
  }
  .section3 .content {
    padding: 0 80px;
    padding-right: 30px;
  }
  .section3 .image img {
    top: -5%;
    left: 8%;
    height: 70vh;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .section4 {
    height: 120vh;
  }
  .section4 .image {
    top: 15vh;
  }
  .section4 .image img {
    height: 80vh;
  }
  .section4 .content {
    padding: 10% 70px;
    padding-left: 50%;
  }
  .section5 {
    height: 50vh;
  }
}

@media only screen and (max-width: 1000px) {
  .section1 .hero h1 {
    font-size: 45px;
  }
  .section2 .image {
    top: 0vh;
  }
  .section2 .image img {
    height: 75vh;
  }
  .section2 .text {
    padding: 6% 50px;
    padding-right: 50%;
  }
  .section2 .text .mini-head {
    font-size: 22px;
  }
  .section2 .text .first p, .section2 .text .second p {
    line-height: 22px;
  }
  .section3 {
    height: 50vh;
  }
  .section3 .image img {
    top: 4%;
    left: 5%;
    height: 50vh;
  }
  .section4 .image {
    top: 25vh;
  }
  .section4 .image img {
    height: 65vh;
  }
  .section4 .content {
    padding: 10% 0px;
    padding-left: 50%;
  }
  .section4 .content .mini-head {
    font-size: 22px;
  }
}

@media only screen and (max-width: 750px) {
  .section2 {
    height: 150vh;
    padding: 12vh 0;
  }
  .section2 .content {
    height: 80vh;
    position: relative;
  }
  .section2 .text {
    padding: 6% 80px;
    text-align: center;
  }
  .section2 .text .mini-head {
    font-size: 26px;
  }
  .section2 .image {
    display: none;
  }
  .section2 .mobile-sec2-img {
    display: block;
    margin: 50px auto 0 auto;
  }
  .section3 {
    height: 80vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section3 .image {
    margin: 0 auto;
  }
  .section3 .image img {
    position: unset;
    margin: -15vh auto 0 auto;
    height: 55vh;
  }
  .section3 .content {
    padding: 10px 80px;
    text-align: center;
  }
  .section4 {
    height: 140vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section4 .image {
    display: none;
  }
  .section4 .content {
    padding: 10% 80px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .section4 .content .mini-head {
    font-size: 26px;
  }
  .section4 .content .first, .section4 .content .second {
    text-align: center;
    padding: 20px 0;
  }
  .section4 .content .first p, .section4 .content .second p {
    padding: 10px 20px;
  }
  .section4 .mobile-sec4-img {
    display: block;
    margin-top: 50px;
    height: 50vh;
    -o-object-fit: contain;
       object-fit: contain;
    position: relative;
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
  }
}

@media only screen and (max-width: 600px) {
  .section1 .navbar {
    z-index: 10000;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .section1 .navbar .logo {
    -webkit-box-flex: 0.2;
        -ms-flex: 0.2;
            flex: 0.2;
  }
  .section1 .navbar .burger {
    display: block;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .section1 .navbar .active {
    left: 0% !important;
  }
  .section1 .navbar .navlinks {
    background: white;
    border-radius: 10px;
    position: absolute;
    max-height: 85vh;
    width: 90%;
    top: 15vh;
    left: 120%;
    right: 0;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
    -webkit-box-shadow: 3px 8px 15px #1f1f1f;
            box-shadow: 3px 8px 15px #1f1f1f;
    -webkit-transition: 0.8s ease;
    transition: 0.8s ease;
  }
  .section1 .navbar .navlinks .one {
    -webkit-box-flex: 0.8;
        -ms-flex: 0.8;
            flex: 0.8;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 22px;
    font-weight: 500;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 30px;
  }
  .section1 .navbar .navlinks .one li {
    padding: 15px 10px;
    color: #4b5862;
  }
  .section1 .navbar .navlinks .one .drop:hover > .dropdown-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: white;
    text-align: center;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    margin: 5px 10%;
    -webkit-box-shadow: none;
            box-shadow: none;
    background: #fdecec;
  }
  .section1 .navbar .navlinks .one .drop:hover > .dropdown-content a:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
  }
  .section1 .navbar .navlinks .one .drop .dropdown-content a {
    margin: 15px 0px;
  }
  .section1 .navbar .navlinks .two {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section1 .navbar .navlinks .two button {
    margin: 10px 10px;
    font-size: 22px;
  }
  .section1 .navbar .navlinks .two .login {
    color: #4b5862;
  }
  .section1 .navbar .navlinks .two .login:hover {
    background: #ff3d54;
    color: white;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .section1 .navbar .navlinks .two .signup {
    background: #ff3d54;
    color: white;
    margin-bottom: 30px;
  }
  .section1 .navbar .navlinks .two .signup:hover {
    background: white;
    color: #ff3d54;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .section1 .hero {
    top: 12vh;
  }
  .section1 .hero h1 {
    font-size: 40px;
  }
  .section2 {
    height: 160vh;
  }
  .section2 .text {
    padding: 6% 40px;
  }
  .section2 .text p {
    font-size: 16px;
    font-weight: 300;
  }
  .section3 {
    height: 90vh;
  }
  .section3 .image img {
    height: 45vh;
    margin: -10vh auto 0 auto;
  }
  .section3 .content p {
    font-weight: 300;
    line-height: 24px;
  }
  .section4 .content {
    padding: 8% 40px;
  }
  .section4 .content .first p, .section4 .content .second p {
    font-weight: 300;
  }
  .section5 {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 6% 8%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .section5 .links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (max-width: 400px) {
  .section1 .hero h1 {
    font-size: 35px;
  }
  .section1 .hero .cta button {
    font-size: 14px;
    padding: 12px 10px;
    margin-top: 20px;
  }
  .section2 {
    height: 180vh;
  }
  .section2 .heading {
    padding: 0 20px;
  }
  .section2 .mobile-sec2-img {
    position: relative;
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
  }
  .section3 .content {
    padding: 10px 20px;
  }
  .section4 .content {
    padding: 0% 10px;
  }
}
/*# sourceMappingURL=styles.css.map */